@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

body {
	background-color: #111;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	font-family:
		'Pretendard Variable',
		Pretendard,
		-apple-system,
		BlinkMacSystemFont,
		system-ui,
		Roboto,
		'Helvetica Neue',
		'Segoe UI',
		'Apple SD Gothic Neo',
		'Noto Sans KR',
		'Malgun Gothic',
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol',
		sans-serif;
	text-decoration: none;
}

main {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}

h1 {
	font-size: 20px;
}
